:root {
    --color-1: #DEB16D;
    --color-oranj: #FF9A3C;
    --text-main: #ffffff;
    --color-background: #000;
    --color-background-2: #FFF; /* #FFF6EA */
    --color-font: #FFF;
    --background-footer: black;
}

/* КО ВСЕМУ ДОКУМЕНТУ */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /*    border: 1px solid purple;*/
    /* ВОСПОЛЬЗУЙСЯ, ЕСЛИ ТЫ РАЗРАБОТЧИК, ХОРОШАЯ ФИТЧА... */
}

/* К ВИДИМОЙ ЧАСТИ САЙТА - "BODY" */
html,
body {
    height: 100%;
    color: black;
    background-color: #112031;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 14px
}

::-webkit-scrollbar-track {
    background: #18191d
}

::-webkit-scrollbar-thumb {
    background: #3b4146
}

::-webkit-scrollbar-thumb:hover {
    background: #474e54
}

a {
    color: white;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
input,
input:after,
input:before,
textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    outline: none;
    resize: none;
}

.content {
    padding: 100px 0 0 0;
}



.box_img h1 {
    text-transform: uppercase;
}


/* 1-ЫЙ СЛАЙД */
.box_img {
    position: relative;
    color: white;
    margin-top: 62px;
    width: 100%;
    height: 460px;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    background-position: right;
    /*    border: 2px solid orange*/
}

.box_img div {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 440px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

/* КЛЕВЕР */
.clover {
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* стабилитрон */
.s {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quality {
    display: flex;
    margin: 20px;
}

.quality_ico {
    width: 100px;
    margin-right: 10px;
    color: #52616B;
    
}

.quality_ico > svg {
    width: 100%;
    fill: var(--color-oranj);
}

.quality_text {
    color: #52616B;
    width: 100%;

}

.quality_text > font {
    display: block;
    color: var(--color-oranj);
    font-size: 26px;
    font-weight: 500;
}


/* SLIDER SERVICES */
.services_box {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: black;
}

.services_box h2 {
    padding: 0 0 20px 0;
}


/* ЗАЯВКА | КАРТА */
.request_and_map {
    color: black;
    font-size: 32px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* заявка */
.request {
    padding: 0 20px 0 0;
}

/* поля заявки */
.request input,
textarea {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid black;
}

/* кнопка отправки заявки */
.button {
    content: 'wwwwwww';
    border-radius: 10px;
    outline: none;

    color: #1ECD97;
    border: 2px solid #1ECD97 !important;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    background: white;
    width: 200px;
}

.button:hover {
    color: white;
    background: #1ECD97;
}

.button:focus {
    color: white;
    content: '&#10004;' !important;
    background: #1ECD97;
}

/* MAP */
.map_box {
    width: 100%;
}

.map {
    height: 400px;
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}



/* BOTTOM */
footer {
    background-color: var(--background-footer);
    padding: 20px;
    color: var(--text-main);
}

.basement_line {
    display: flex;
    justify-content: space-between;
}

.basement_item h3 {
    padding-bottom: 18px;
}

.phone {
    padding-bottom: 5px;
}

.copy,
.copy a {
    color: darkgray;
    font-size: 10px;
    padding-top: 10px;
    display: inline
}

/* Да, это я */
#pidor {
    position: absolute;
    right: 20px;
}

/* PRODUCTS */
.cluster {
    margin-top: 80px;
    min-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.product {
    overflow: hidden;
    position: relative;
    /* SPACE */
    margin: 20px;
    padding: 10px;
    /* SIZE */
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    border-radius: 5px;
}

.product:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.product img {
    max-width: 100%;
}

.product_ico {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin: 10px;
}

.product_text {
    color: black;
    text-align: center;
}

.new {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    border-radius: 0 0 0 8px;
    background: red;
    color: white;
}