:root{
	--color-main: purple;
	
	--header-height: 40px;
	--header-padding: calc(var(--header-height)/6);
}

body{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}

header{
	width: 100wv;
	height: var(--header-height);
	background-color: var(--color-main);
	padding: var(--header-padding);
	position: relative;
	display: flex;
}

header > .logo{
	aspect-ratio: 1/1;
	height: var(--header-height);
	background-color: pink;
}

header > .buttons{
	position: absolute;
	right: var(--header-padding);
	min-width: var(--header-height);
	height: var(--header-height);
	background-color: darkseagreen;
	display: flex;
}

header > .buttons > .button{
	aspect-ratio: 1/1;
	height: 100%;
	background-color: yellow;
	margin-left: var(--header-padding);
}

footer{
	padding: var(--header-padding);
	background-color: var(--color-main);
}

.block1 {
    width: 100%;
    height: 50px;
    background: #7EFFDB;
}
.block2 {
    width: 50px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    background: darkred;
}